#lcase{
    margin-left: 1.5%;
    background-color: blueviolet;
}
#ucase{
    background-color: blueviolet;
}

#Ctext{
    margin-left: 1.5%;
    background-color: blueviolet;
    /* float: right;     */
     
}

#copyText{
    margin-left: 1.5%;
    background-color: blueviolet;
}

#Sremove{
    
    margin-left: 1.5%;
    background-color: blueviolet;

}